body {
    font-family: sans-serif;
}

header img {
    margin-left: 114px;
    margin-top: 25px;
}

header a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 2px;
    border-radius: 10px;
    margin-left: 49px;
}

main {
    text-align: center;
}

h1 {
    font-size: 52px;
    margin-top: 125px;
    margin-bottom: 42px;
}

h3 {
    color: #C74817;
    font-size: 26px;
    margin-top: 0px;
}

h2 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 5px;
}


footer {
    text-align: center;
    margin-top: 140px;
}

footer p {
    margin-top: 2px;
}

main p {
    font-size: 18px;
}

.about-us-image {
    width: 40px;
    height: 40px;
}

main a {
    color: black;
    text-decoration: none;
    border: 3px dotted #C74817;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 150px;
    margin-top: 0px;
}

main img {
    width: 500px;
    height: 400px;
}
